footer {
    position: relative;
    // overflow-x: hidden;
    .bgSpot {
        position: absolute;
        height: 450px;
        top: -100px;
        left: -200px;
    }
    .goUp {
        justify-self: flex-end;
    }
}