<footer>
    <div>
        <img src="./../../assets/img/bg/blueShadow_4.png" class="bgSpot">
        <a href="#start">
            <img src="./../../assets/img/icon/goUp.png" class="goUp">
        </a>
    </div>
    <div class="foot">
        <img src="./../../assets/img/logo/logo_portfolio.png" class="logo">
        <p>© 2023 Janis Hülsebusch</p>
        <div class="links">
            <a href="https://github.com/JHuelsebusch" target="_blank"><img src="./../../assets/img/icon/github.png"></a>
            <a [href]="emailstring"><img src="./../../assets/img/icon/mail.png"></a>
            <a href="https://www.linkedin.com/in/janis-huelsebusch" target="_blank"><img src="./../../assets/img/icon/linkedIn.png"></a>
        </div>
        <p class="imprint" routerLink="/imprint">Imprint</p>
    </div>
    <div class="copyright">
        <p>© 2023 Janis Hülsebusch</p>
        <p>| </p>
        <p class="imprint" routerLink="/imprint">Imprint</p>
        <p>| </p>
        <p class="imprint" routerLink="/privacy">Privacy</p>

    </div>


</footer>