.aboutMeSec {
    display: flex;
    flex-direction: column;
    .profilePic {
        position: relative;
        overflow: hidden;
        z-index: 5;
        .shape {
            z-index: 6;
            position: absolute;
            width: 100%;
            right: 0;
            left: 0;
            bottom: -90px;
        }
    }
    .aboutMe {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px 25px;
        position: relative;
        .line {
            position: absolute;
            left: 0;
        }
    }
    p {
        padding: 0px 25px;
    }
}