<div class="aboutMeSec">
    <div class="profile">
        <img src="./../../assets/img/profilePic.png" class="pic">
        <img src="./../../assets/img/bg/shape.png" class="shape">
    </div>
    <div class="aboutMe">
        <img src="./../../assets/img/line/blueSmallLeft.png" class="line">
        <h2>About Me</h2>
    </div>
    <p>
        Hi, I am a frontend developer based in Edewecht, Lower Saxony, Germany. (...) Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores ullam eaque tenetur quos temporibus nostrum amet dolorem sapiente quia atque impedit saepe, aliquid optio neque
        distinctio! Doloremque voluptate laboriosam aperiam!
    </p>
</div>