<div class="aboutMeSec" id="aboutMe">
    <div class="profile">
        <!-- <img src="./../../assets/img/bg/shape.png" class="shape"> -->
        <img src="./../../assets/img/bg/wave.png" class="wave">
        <img src="./../../assets/img/bg/profileBg.png" class="spot">
        <img src="./../../assets/img/profilePic.png" class="pic">
    </div>
    <div class="content" data-aos="fade-right">

        <div class="aboutMe">
            <img src="./../../assets/img/line/blueSmallLeft.png" class="line">
            <h2>About Me</h2>
        </div>
        <p data-aos="fade-right">
            Hi, I am a frontend developer from Edewecht, Lower Saxony, Germany. To improve my web development skills, I attended an extensive programming school, where I also learned professional ways of working in programming. Meanwhile, I developed various web
            apps, from responsive websites to business apps and games.<br>You are welcome to visit and test my projects.
        </p>
        <div class="aboutMeContent" data-aos="fade-right">
            <div class="icon" id="bulb">
                <img src="./../../assets/img/icon/bulb.png">
            </div>
            <p>
                Digitization is becoming more and more important, including in my workplaces. At my previous jobs, among other, I was also responsible for optimizing processes or automation - but not for their direct implementation. I decided to take this step and to
                start my coding journey.
            </p>
        </div>
        <div class="aboutMeContent" data-aos="fade-right">
            <div class="icon">
                <img src="./../../assets/img/icon/puzzle.png">
            </div>
            <p>
                Before becoming a software developer, I completed an M. Sc. in chemistry and worked as a member of the quality management team or as a team leader in the lab. Now coding has become my passion and I look forward to learning more and more and getting new
                challenges.
            </p>
        </div>
    </div>

</div>