<div class="startSec" id="start">
    <div class="start" data-aos="fade-left" data-aos-duration="3000">
        <div class="dev">
            <p class="name">
                Janis Hülsebusch
            </p>
            <p class="profession">
                Chemist &<br>Frontend Developer
            </p>
        </div>
        <button class="btn">Let's talk!</button>
    </div>

    <div class="startpageEnd" data-aos="fade-up" data-aos-duration="3000" data-aos-anchor="start">
        <div class="placeholder">
        </div>
        <div class="startSocial">
            <img src="./../../assets/img/icon/github.png">
            <img src="./../../assets/img/icon/mail.png">
            <img src="./../../assets/img/icon/linkedIn.png">
        </div>
        <img class="line" src="./../../assets/img/line/lightblueRight.png">
    </div>

</div>