<div class="startSec" id="start">
    <div class="start" data-aos="fade-left" data-aos-duration="3000">
        <div class="dev">
            <p class="name">
                Janis Hülsebusch
            </p>
            <p class="profession">
                Chemist &<br>Frontend Developer
            </p>
        </div>
        <a [href]="emailstring">
            <button class="btn">Let's talk!</button>
        </a>
    </div>

    <div class="startpageEnd" data-aos="fade-up" data-aos-duration="3000" data-aos-anchor="start">
        <div class="placeholder">
        </div>
        <div class="startSocial">
            <a href="https://github.com/JHuelsebusch" target="_blank"><img src="./../../assets/img/icon/github.png"></a>
            <a [href]="emailstring"><img src="./../../assets/img/icon/mail.png"></a>
            <a href="https://www.linkedin.com/in/janis-huelsebusch" target="_blank"><img src="./../../assets/img/icon/linkedIn.png"></a>
        </div>
        <img class="line" src="./../../assets/img/line/lightblueRight.png">
    </div>

</div>