<header>
    <img routerLink="/#start" class="logo" src="./../../assets/img/logo/logo_portfolio.png">
    <label class="burger" for="burger">
        <input type="checkbox" id="burger" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <div class="links" [class.isOpen]="isMenuOpen">
        <a href="#aboutMe" (click)="closeMenu()">About me</a>
        <a href="#skills" (click)="closeMenu()">Skills</a>
        <a href="#portfolio" (click)="closeMenu()">Portfolio</a>
        <a href="#contact" (click)="closeMenu()">Contact</a>
    </div>
</header>