/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: Roboto;
    src: url('./assets/font/Roboto/Roboto-Regular.ttf');
    font-family: Roboto-Bold;
    src: url('./assets/font/Roboto/Roboto-Bold.ttf');
    font-family: Roboto-Black;
    src: url('./assets/font/Roboto/Roboto-Black.ttf');
}

body {
    margin: 0;
    background-color: #141d2f;
    font-family: Roboto, sans-serif;
    color: white;
}